@import "bootstrap";

html {
	background-color: #cdd0d7;
}

//navbar
$navbar-inverse-bg: #7F00FF;
$navbar-inverse-border: #7F00FF;
$navbar-fixed-top: blue;

// Inverse navbar

.navbar-inverse .container {
background-color: $navbar-inverse-bg;
border-color: $navbar-inverse-border;
}

body {
	//border: solid;
	padding-top: 60px;
	width: 66.9%;
	margin: auto;
}

#logo {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
